<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include header.ejs%>
    <h3>About</h3>
    <p>My name is blah blah blah</p>
  </body>
</html>
