<!DOCTYPE html>
<html>

<head>
    <title>Boba Vehicles</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/jquery.bootpag.js"></script>
</head>

<body>
    <% include header.ejs%>

        <div class="row searchbar">
            <div class="col-md-4">
                <form class="input-group col-md-12" role="form" action="/search" method="POST">
                    <input name="searchkey" type="text" class="form-control input-md" placeholder="Search ..." />
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-md" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                  </span>
                </form>
            </div>
        </div>
        <div id="content">Dynamic Content goes here</div>
        <div id="page-selection">Pagination goes here</div>
        <script>
            // init bootpag
            $('#page-selection').bootpag({
                total: 10
            }).on("page", function(event, /* page number here */ num) {
              var htmlcontent;
              $.ajax({
                method: "POST",
                url: "index/getItems",
                data: { pagenum: num}
              }).done(function(response) {
                htmlcontent = response;
              });
              var html = "hahahhah";
              $("#content").html("html"); // some ajax content loading...
            });
        </script>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>
