<!DOCTYPE html>
<html>
<head>
  <title>Login in</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body>
 <% include header.ejs%>
 <div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
          <form role="form" action="/login/process" method="POST">
              <div class="form-login">
                <br>
                <h4>Welcome back.</h4>
                <input type="text" name="userName" class="form-control input-sm chat-input" placeholder="userid" required/>
                </br>
                <input type="password" name="userPassword" class="form-control input-sm chat-input" placeholder="password" required/>
                </br>
                <div class="wrapper">
                  <span class="group-btn">
                    <button type="submit" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></button>
                  </span>
                </div>
              </div>
            </form>
        </div>
  </div>
</div>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
