<!DOCTYPE html>
<html>

<head>
    <title>Start Selling!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    <script>
    function listvehicle() {
      console.log("hahahha");
      console.log($('#bidend').val());
      // $.ajax({
      //   method: "POST",
      //   url: "myaccount/logout"
      // }).done(function(response) {
      //   console.log("success");
      // });
    }
    </script>
</head>

<body>
    <% include header.ejs%>
    <div class="container">


<form class="form-horizontal" action="/sell/listvehicle" method="POST">
<fieldset>
<!-- Form Name -->
<br>
<h2>Enter you vehicle info here:</h2>
<div class="form-group">
  <label class="col-md-4 control-label" for="type">Type:</label>
  <div class="col-md-4">
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="type" id="type-0" value="Motor Vehicle" checked="checked">
      Motor Vehicle
    </label>
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="type" id="type-1" value="Bicycle">
      Bicycle
    </label>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Brand</label>
  <div class="col-md-4">
  <input id="textinput" name="brand" type="text" placeholder="Toyato" class="form-control input-md" required/>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Model</label>
  <div class="col-md-4">
  <input id="textinput" name="model" type="text" placeholder="Prius" class="form-control input-md" />
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Year</label>
  <div class="col-md-4">
  <input id="textinput" name="year" type="number" placeholder="2015" class="form-control input-md" />
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Mileage</label>
  <div class="col-md-4">
  <input id="textinput" name="mileage" type="number" placeholder="10000" class="form-control input-md" />
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Color</label>
  <div class="col-md-4">
  <input id="color" name="color" type="text" placeholder="red" class="form-control input-md" />
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="condition">Condition</label>
  <div class="col-md-4">
    <label class="radio-inline" for="condition-0">
      <input type="radio" name="condition" id="condition-0" value="New" checked="checked" />
      New
    </label>
    <label class="radio-inline" for="condition-1">
      <input type="radio" name="condition" id="condition-1" value="Used">
      Used
    </label>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Price</label>
  <div class="col-md-4">
    <input id="textinput" name="price" type="number" placeholder="50000" class="form-control input-md" />
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="biddable">Biddable</label>
  <div class="col-md-4">
    <label class="radio-inline" for="biddable-0">
      <input type="radio" name="biddable" id="biddable-0" value="1">
      Yes
    </label>
    <label class="radio-inline" for="biddable-1">
      <input type="radio" name="biddable" id="biddable-1" value="0" checked="checked">
      No
    </label>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Bid Starting Price</label>
  <div class="col-md-4">
    <input id="bidstartprice" name="minimumprice" type="number" placeholder="50000" class="form-control input-md" />
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Bid Ending Date</label>
  <div class="col-md-2">
    <input id="bidend" type="date" name="bidend" />
  </div>
  <div class="col-md-2">
    <input id="bidendtime" type="time" name="bidendtime" value="23:59"/>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <!-- <button type="submit" class="btn btn-default">Submit</button> -->
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">submit</button>
  </div>
</div>

</fieldset>
</form>

</div>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>
